{include file='public/head'}
<body>
<style type="text/css" media="screen">
header {
    color: black;
}

</style>

<div class="x-body" style="width: 70%">
	<form class="layui-form" id="mainForm" action="trademarkUpdate" method="post">
		<div class="layui-form-item"> 
			<label class="layui-form-label">品牌代码</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" value="{$data.TrademarkNo}" placeholder="" id="" name="TrademarkNo" style="width:50%;">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">父品牌</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" value="{$data.FatherTrademark}" placeholder="" id="" name="FatherTrademark" style="width:50%;">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">中文名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" value="{$data.ChinaName}" placeholder="" id="" name="ChinaName" style="width:50%;">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">英文名称</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" value="{$data.EnglishName}" placeholder="" id="" name="EnglishName" style="width:50%;">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">官网链接</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" value="{$data.Link}" placeholder="" id="" name="Link" style="width:50%;">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">说明</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" value="{$data.Explain}" placeholder="" id="" name="Explain" style="width:50%;">
			</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">已删除</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" value="{$data.Delete}" placeholder="" id="" name="Delete" style="width:50%;">
			</div>
		</div>
		
		<div class="layui-form-item">
		    <div class="layui-input-block">
		      <button style="margin-left: 20%" class="layui-btn" lay-submit="" lay-filter="toSubmit">提交</button>
		      <button id="reset" type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
</div>
</body>


<script type="text/javascript">

	var form = layui.form;
	var layer = layui.layer;
	//自定义验证规则
	form.verify({
		username: function(value){
			if(value.length < 5){
				return '用户名至少得5个字符啊';
			}
		}
	});

	//监听提交
	form.on('submit(demo1)', function(data){
		layer.alert(JSON.stringify(data.field), {
		title: '最终的提交信息'})
		return false;
	});


	$(document).ready(function(){ 
	     var options = {
		      type:'post',           //post提交
		      //url:'http://ask.tongzhuo100.com/server/****.php?='+Math.random(),   //url
		      dataType:"json",        //json格式
		      data:{},    //如果需要提交附加参数，视情况添加
		      clearForm: false,        //成功提交后，清除所有表单元素的值
		      resetForm: false,        //成功提交后，重置所有表单元素的值
		      cache:false,          
		      async:false,          //同步返回
		      success:function(data){
		      	console.log(data);
		      	if(data.code==0){
		      		layer.msg(data.msg);
		      	}else{
		      		layer.msg(data.msg,{icon:1,time:500},function(){
		      			$("#reset").click();
		      			x_admin_close();
		      			parent.location.reload();
		      		});
		      	}
		      //服务器端返回处理逻辑
		      	},
		      	error:function(XmlHttpRequest,textStatus,errorThrown){
		        	layer.msg(data.msg);
		      }
		    }; 
	    // bind form using 'ajaxForm' 
	    $('#mainForm').ajaxForm(options).submit(function(data){
	    	//无逻辑
	    }); 
	});

	//判断浏览器是否支持FileReader接口
	if (typeof FileReader == 'undefined') {
	    document.getElementById("xmTanDiv").InnerHTML = "<h1>当前浏览器不支持FileReader接口</h1>";
	    //使选择控件不可操作
	    document.getElementById("xdaTanFileImg").setAttribute("disabled", "disabled");
	}

</script>
{include file='public/foot'}
